@keyframes slideInLeft {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

#itens {
    position: relative;
    overflow: hidden;
    background-color: #d8c7b0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}

#itensP1 {
    margin: auto;
    color: #1c1319;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px snow;
    font-weight: bold;
}

#itensP2 {
    margin: 1em;
    color: #1c1319;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    text-shadow: 2px 2px 6px snow;
    font-weight: bold;
}

#itensContainer {
    margin: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    width: 75%;
    position: relative;
}

.card {
    border: 2px solid #1c1319;
    flex: 1;
    transition: transform 0.5s ease-in-out;
    position: relative;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px #1c1319;
    overflow: hidden;
    height: 80vmin;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card:hover, .card.hover {
    opacity: 1;
}

.card.hover {
    flex-grow: 10;
}

.card:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 1024px) {

    #itensContent {
        opacity: 0;
        transform: translateX(-50%);
        transition: none;
    }

    #itensContainer {
        opacity: 0;
        transform: translateX(50%);
        transition: none;
    }

    @keyframes mobileSlideInLeft {
        0% {
            transform: translateX(-50%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes mobileSlideInRight {
        0% {
            transform: translateX(50%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    #itens {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
    }

    #itensP1 {
        font-size: 1.4rem;
    }

    #itensP2 {
        font-size: 1rem;
    }

    #itensContent a {
        padding: 6px 14px;
        font-size: 1rem;
    }

    #itensContent {
        margin: 1em;
    }

    #itensContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        animation: none;
    }

    .card {
        height: 400px;
        width: 90%;
        flex: none;
        opacity: 1;
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .card:last-child {
        margin-right: 1rem;
    }
}
