/* Estilizando a barra de navegação */
.nav-bar {
    justify-content: space-around;
    align-items: center;
    color: snow;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-color: #1c1319;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    z-index: 1000;
    opacity: 1;
}

.nav-links {
    width: 600px;
    overflow: auto;
}

.nav-links a {
    float: left;
    text-align: center;
    width: 150px;
    padding: 10px 0;
    transition: all 0.3s ease;
    color: snow;
    font-size: 36px;
    text-decoration: none;
    border-radius: 10px;
    margin: auto;
    justify-content: space-around;
}

.nav-links a:hover {
    color: #ae8b6d;
}

.slogan {
    margin-right: 20px;
    background-clip: text;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    color: #774110;
    transition: color 0.5s ease;
    cursor: pointer;
    font-family: "Dancing Script", cursive;
    font-size: calc(1rem + 2vw);
    font-weight: bold;
}

.slogan:hover {
    color: #ae8b6d;
}

.logo {
    max-width: 200px;
    height: auto;
}

.fas {
    font-size: 30px;
    text-align: center;
}

.tooltiptext {
    visibility: hidden;
    width: 100px;
    color: #ae8b6d;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.nav-bar .nav-bar-mobile {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 23px;
    justify-content: space-around;
    margin: 15px;
}

.nav-bar .nav-bar-mobile div {
    width: 30px;
    height: 3px;
    background-color: snow;
    transition: all 0.3s ease;
}

.nav-bar.active .nav-bar-mobile .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-bar.active .nav-bar-mobile .bar2 {
    opacity: 0;
}

.nav-bar.active .nav-bar-mobile .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-hidden {
    transform: translateY(-100%);
}

@media only screen and (max-width: 1224px) {
    .tooltiptext {
        display: none;
    }

    a:hover .tooltiptext {
        visibility: hidden;
        opacity: 0;
    }

    .nav-links {
        display: none;
        width: 100%;
        height: 100px;
        background-color: #140f07;
        border-top: 1px solid black;
        box-sizing: border-box;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        transition: max-height 0.3s ease, padding 0.3s ease;
        max-height: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        margin: auto;
    }

    .nav-bar.active .nav-links {
        display: flex;
        max-height: 100px;
        padding: 1rem 0;
        margin: auto;
        justify-content: space-around;
    }

    .nav-bar .nav-bar-mobile {
        display: flex;
        width: 10%;
    }

    .slogan {
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        width: calc(40% + 2vw);
        text-align: center;
        font-size: calc(1rem + 2vw);
    }

    .logo {
        max-height: 100%;
        object-fit: contain;
        width: calc(20% + 10vw);
    }
}