#petShops {
    width: 100vw;
    height: 100vh;
    background-color: #d8c7b0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
}

#petShops h1 {
    text-align: center;
    color: #774110; 
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
    margin: 2rem auto 0 auto;
    text-shadow: 1px 1px 1px snow;
}

#petShopsContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#petShopsContent p {
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    text-indent: 1em;
    line-height: 1.4;
    color: #7f6f61;
    margin-bottom: 1em;
    text-align: justify;
    margin: 1rem;
}