#products {
    width: 100vw;
    background-color: #d8c7b0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#products h1 {
    text-align: center;
    color: #774110; 
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
    margin: 2rem auto 0 auto;
    text-shadow: 1px 1px 1px snow;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 1em;
    justify-content: space-around;
}

.product {
    background-color: white;
    border: 2px solid #42210a; 
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 48%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.03);
}

.product-photo {
    padding: 15px;
    border-bottom: 2px solid #42210a; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.photo-container {
    width: 60%;
}

.photo-main img {
    justify-content: center;
    width: 100%;
    height: 250px;
    object-fit: fill;
    border-radius: 8px;
}

.description-section {
    padding: 0 1rem;
    border-radius: 12px;
    border: 2px solid #42210a; 
    background-color: snow;
    width: 30%;
    height: 250px;
    overflow: hidden;
}

.description-section h3 {
    color: #42210a; 
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.description-section .description {
    font-size: 1rem;
    line-height: 1;
    color: #7f6f61;
    word-wrap: break-word;
    hyphens: auto;
}

.details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: #42210a; 
    margin-bottom: 15px;
}

.product-title .name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #42210a; 
    margin: 10px 0;
}

.product-title .volume {
    background-color: #ae8b6d; 
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: snow; 
    margin: 10px 1rem;
    padding: 5px;
    border-radius: 5px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.product-price {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #42210a; 
    margin: 10px 0;
}

.variant {
    margin-bottom: 15px;
}

.variant h3 {
    margin: 0;
    font-size: 1rem;
    color: #42210a; 
}

.version-btn {
    margin: 5px 5px 0 0;
    padding: 8px 15px;
    border: 2px solid #42210a; 
    background-color: snow;
    color: #42210a; 
    font-size: 0.95rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.version-btn:hover {
    background-color: #ae8b6d; 
    color: snow;
}

.add-btn {
    padding: 10px;
    border: 2px solid #42210a; 
    background-color: #42210a; 
    color: snow;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add-btn:hover {
    transform: scale(1.01);
    background-color:#ae8b6d; 
}

.add-btn:active {
    transform: scale(1.0);
    background-color: #754c32;
}

.message-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    background-color: #42210a;
    color: snow;
    font-size: 1.5rem;
    display: none;
    z-index: 4000;
    border-radius: 20px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    width: auto;
    text-align: center;
    opacity: 0;
    animation: fadeInOut 2.5s ease;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
