::-webkit-scrollbar {
    width: 18px;
    height: 18px;

}

::-webkit-scrollbar-track {
    background: #1c1319;
    border: none;
}

::-webkit-scrollbar-thumb {
    background: snow;
    border: none;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

.cart-section .cart::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.cart-section .cart::-webkit-scrollbar-track {
    background: #1c1319;
    border-radius: 10px;
}

.cart-section .cart::-webkit-scrollbar-thumb {
    background: #ae8b6d;
    border-radius: 10px;
}

input[type="number"] {
    width: 30%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.loading-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1319;
    color: snow;
    align-items: center;
    justify-content: center;
    z-index: 3000;
    overflow-x: hidden;
    overflow-y: hidden;
}

.loading-content {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.spinner {
    border: 8px solid snow;
    border-top: 8px solid #ff5c87;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

#loadingMessage {
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
}

.status-icon {
    font-size: 24px;
    margin-top: 10px;
}

.status-icon.success {
    color: green;
}

.status-icon.error {
    color: red;
}

@media only screen and (max-width: 1024px) {
    .loading-content {
        width: 80%;
        height: 100%;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .spinner {
        width: 30px;
        height: 30px;
    }

    #loadingMessage {
        font-size: 16px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .status-icon {
        font-size: 20px;
    }

    a:focus {
        outline: none;
    }
}